@import 'src/styles/variables.scss';

.mapHeader {
  width: 100%;
  padding: 24px 60px;
  background-color: #fff;
  z-index: 899;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Bahnschrift';
  font-stretch: semi-condensed;
  margin-top: -200px;
  transition: margin-top ease-in-out 0.5s;
  background-color: $colorBgMapHeader;

  &_opened {
    margin-top: 0;
  }

  &__title {
    display: inline-flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    max-width: 450px;
    margin: 0;
    gap: 16px;
    align-items: center;

    &::before {
      content: '';
      width: 48px;
      height: 48px;
      background-image: url('../../../assets/images/icons/office_black.svg');
      background-size: 48px 48px;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
    }
  }

  &__chairmain {
    display: flex;
    gap: 16px;
  }

  &__chairmainAvatar {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

  &__chairmanInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__jobTitle {
    max-width: 426px;

    color: $colorBgAccent;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  &__name {
    color: $colorBgAccent;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    margin: 0;
  }

  &__textGroup {
    display: flex;
    gap: 24px;
  }

  &__contact {
    display: flex;
    color: $colorBgAccent;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    align-items: center;
    gap: 6px;
  }

  &__phone {
    white-space: nowrap;
  }

  &__phone::before {
    content: '';
    align-self: flex-start;
    background-image: url('../../../assets/images/icons/phone.svg');
    background-repeat: no-repeat;
    background-size: 19x 19px;
    width: 19px;
    height: 19px;
  }

  &__email::before {
    content: '';
    padding-bottom: 2px;
    background-image: url('../../../assets/images/icons/mail.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }

  &__link {
    color: transparent;
    font-size: 0;
    display: flex;
    text-decoration: none;
    transition: all ease-in-out 0.15s;
  }

  &__link::before {
    content: '';
    background-image: url('../../../assets/images/icons/vk_text.svg');
    background-repeat: no-repeat;
    background-size: 120px 21px;
    width: 120px;
    height: 21px;
  }

  &__link:hover {
    opacity: 0.7;
  }
}
