@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px calc((100vw - 1320px) / 2);
  box-sizing: border-box;
  background-color: $colorBgAccent;
  color: white;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.logo {
  width: 604px;
  height: 53px;

  .logoImage {
    @include logo-white;
  }
}

.profileIcon {
  width: 48px;
  height: 48px;
  display: block;
}

.menu {
  @include reset-list;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menuLink {
  @include reset-link;
  @include text-menu-item;
}
