@import 'src/styles/mixins.scss';

.sliderArrow {
  @include reset-button;
  padding: 30px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  background-size: 43px 29px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  bottom: -153px;

  transition: opacity ease-in-out 0.15s;

  &:hover {
    opacity: 0.5;
  }
}
.prev {
  background-image: url('../../../assets//images/icons/arrow_next.svg');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.next {
  background-image: url('../../../assets//images/icons/arrow_next.svg');
  right: 0;
}
