$map-width: 100%;
$map-height: 740px;
.map {
  overflow: hidden;
  width: $map-width;
  max-width: 1320px;
  height: $map-height;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--Black-90, #222);
  border-radius: 4px;
  &__resetButton {
    position: absolute;
    top: 30px;
    right: 10px;
    border: 1px solid var(--Black-90, #222);
    background-color: var(--Black-90, #222);
    border-radius: 4px;
    box-sizing: border-box;
    width: 173px;
    height: 40px;
    color: #fff;
    font-family: 'Bahnschrift';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    cursor: pointer;
    transition: opacity ease-in-out 0.15s;
    z-index: 1000;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
    &:hover {
      opacity: 0.7;
    }
  }

  .leaflet-tooltip {
    border: 1px solid var(--Black-90, #222);
    box-shadow: 0px 97px 27px 0px rgba(0, 0, 0, 0),
      0px 62px 25px 0px rgba(0, 0, 0, 0.01),
      0px 35px 21px 0px rgba(0, 0, 0, 0.02),
      0px 16px 16px 0px rgba(0, 0, 0, 0.03), 0px 4px 9px 0px rgba(0, 0, 0, 0.04);
    padding: 12px;
    background-color: #fff;
    color: var(--Black-90, #222);
    font-family: 'Bahnschrift';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
  }

  .leaflet-tooltip-left::before {
    opacity: 0;
  }
  .leaflet-tooltip-right::before {
    opacity: 0;
  }
  .leaflet-interactive {
    outline: none;
  }

  .leaflet-attribution-flag {
    width: 0;
    opacity: 0;
    visibility: hidden;
  }

  .leaflet-tile-pane {
    filter: grayscale(100%);
  }
}

.leaflet-control-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.leaflet-top.leaflet-left {
  height: inherit;
  position: relative;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  margin-top: 0;
  transition: all ease-in-out 0.15s;
}

.leaflet-touch .leaflet-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px !important;
  height: 48px !important;
  border-radius: 4px !important;
  border: none;
  background: var(--Black-90, #222);
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: all ease-in-out 0.15s;
}

.leaflet-touch .leaflet-bar a:hover {
  opacity: 0.7;
  background-color: var(--Black-90, #222);
}

.leaflet-touch .leaflet-bar a:focus {
  background: var(--Black-90, #222);
}

.leaflet-touch .leaflet-bar .leaflet-disabled:hover {
  opacity: 1;
  background-color: #f4f4f4;
}

.leaflet-touch .leaflet-bar a > span {
  font-size: 40px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
