@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.newsItem {
  width: 400px;

  .image {
    width: inherit;
    height: 280px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }

  .title {
    @include reset-text;
    @include text-header-h4_5;
    font-family: $fontText;
    font-stretch: semi-condensed;
    margin-bottom: 60px;
  }

  .button {
    @include reset-link;
    @include button-rectangle;
    @include text-regular-24;
    display: inline-block;
    background-color: $colorBgChip;
    color: white;
    text-transform: capitalize;
    padding: 20px;
  }
}
